<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.eduservice.mapper.EduCourseMapper">

    <select id="getPublishCouresInfo" resultType="com.atguigu.eduservice.entity.vo.CouresPublishVo">
        SELECT ec.id,ec.title,ec.lesson_num AS lessonNum,ec.price,ec.cover,
				et.`name` AS teacherName,
				es1.title AS oneSubject,
				es2.title AS twoSubject,
				ecd.description
 FROM edu_course ec
							LEFT JOIN edu_teacher et ON ec.teacher_id = et.id
							LEFT JOIN edu_course_description ecd on ec.id = ecd.id
							LEFT JOIN edu_subject es1 on es1.id=ec.subject_parent_id
							LEFT JOIN edu_subject es2 on es2.id=ec.subject_id
WHERE ec.id = #{couresId}
    </select>

	<select id="getBaseCourseInfo" resultType="com.atguigu.eduservice.entity.frontvo.CourseWebVo">

SELECT ec.title AS  title,ec.price AS price, ec.lesson_num AS lessonNum,ec.cover AS cover, ec.buy_count AS buyCount,
			ec.view_count AS viewCount,ecd.description AS description , et.id AS teacherId,et.`name`	AS teacherName, et.career AS intro,
			et.avatar AS avatar , es1.id AS subjectLevelOneId, es1.title AS subjectLevelOne, es2.id AS subjectLevelTwoId,es2.title AS  subjectLevelTwo

							FROM edu_course  ec
							LEFT JOIN edu_teacher  et ON ec.teacher_id = et.id
							LEFT JOIN edu_course_description ecd 	ON ecd.id = ec.id
							LEFT JOIN edu_subject es1 ON ec.subject_parent_id = es1.id
							LEFT JOIN edu_subject es2 ON ec.subject_id = es2.id
							WHERE ec.id =  #{courseId}
	</select>
</mapper>
